.small-font {
  font-size: 12px;
}

.price,
.location {
  width: 100px;
}

.date {
  width: 90px;
}

@media (min-width: 601px) {
  #toast-container {
    top: auto !important;
    bottom: 7% !important;
    left: auto !important;
    right: 5%;
  }
}
