<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Apro Scraper</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="startScraping($event)">
        <input ref="url" required />
      </form>
      <section v-for="message in messages">
        <div>{{ dateIntervalForMessage(message) }}/div>
        <div v-for="item in message" :key="item.url">
          <a :href="item.url">{{ item.title }}</a>
          <span>{{ item.price }}</span>
          <span>{{ item.location }}</span>
          <span>{{ item.updated }}</span>
        </div>
      </section>
    </div>
  </body>
  <script>
    const { ipcRenderer } = require("electron");

    const app = new Vue({
      el: "#app",
      data: {
        messages: [],
      },
      mounted() {
        ipcRenderer.on("new-items", (event, message) => {
          console.log(message);
          this.messages.push(message);
        });
      },
      methods: {
        startScraping(event) {
          ipcRenderer.send("start-scraping", this.$refs.url.value);
        },
        dateIntervalForMessage(message) {
          const lastDate = message[message.length - 1].updated
          const firstDate = message[0].updated
          return `${lastDate} - ${firstDate}`
        }
      },
    });
  </script>
</html>
