<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Apro Scraper</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <form @submit.prevent="startScraping($event)">
        <input
          ref="url"
          type="url"
          placeholder="Enter HardverApro URL"
          required
        />

        <button v-if="!scraping" type="submit">Scrape</button>
        <button v-else @click.prevent="stopScraping()">Stop</button>
      </form>
      <section v-for="message in messages">
        <div class="date">{{ dateIntervalForMessage(message) }}</div>
        <div class="row" v-for="item in message" :key="item.url">
          <a :href="item.url">{{ item.title }}</a>
          <span>{{ item.price }}</span>
          <span>{{ item.location }}</span>
          <span>{{ item.updated }}</span>
        </div>
      </section>
    </div>
  </body>
  <script>
    const { ipcRenderer } = require("electron");

    const app = new Vue({
      el: "#app",
      data: {
        scraping: false,
        messages: [],
      },
      mounted() {
        ipcRenderer.on("new-items", (event, message) => {
          this.messages.push(message);
        });
      },
      methods: {
        startScraping(event) {
          this.scraping = true;
          ipcRenderer.send("start-scraping", this.$refs.url.value);
        },
        stopScraping() {
          this.scraping = false;
          ipcRenderer.send("stop-scraping");
        },
        dateIntervalForMessage(message) {
          const lastDate = message[message.length - 1].updated;
          const firstDate = message[0].updated;
          return `${lastDate} - ${firstDate}`;
        },
      },
    });
  </script>
</html>
